* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.container {
  width: 70px;
  background-color: aquamarine;
  min-height: 100vh;
  position: relative;
  box-shadow: 15px 0 0 #333;
  border-left: 10px solid grey;
  transition: 0.5s;
}

.container:hover {
  width: 300px;
}
.container ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding: 70px 0 0 5px;
  overflow-x: hidden;
}
.container ul li {
  list-style: none;
  position: relative;
  width: 100%;
}
.container ul li.active {
  background-color: #333;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.container ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  /* justify-content: center; */
}
.container ul li.active a{
    color: #fff;
}
.container ul li.active a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 160, 122, 0);
  border-radius: 50%;
  top: -30px;
  right: 0;
  box-shadow: 15px 15px 0 #333;
}
.container ul li.active a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff00;
  border-radius: 50%;
  bottom: -30px;
  right: 0;
  box-shadow: 15px -15px 0 #333;
}
.container ul li a .icono {
  min-width: 60px;
  height: 60px;
  display: block;
  line-height: 65px;
  text-align: center;
}
